<div class="tw-container tw-mx-auto tw-p-4">
  <mat-card class="tw-mb-6 tw-bg-imperial-black tw-border tw-border-star-wars-yellow">
    <mat-card-header>
      <mat-card-title class="tw-text-2xl tw-text-star-wars-yellow"
        >Welcome to the Galactic Archives</mat-card-title
      >
    </mat-card-header>
    <mat-card-content class="tw-py-4 tw-text-star-wars-blue">
      <p class="tw-mb-4">Your ultimate source for Star Wars data across the galaxy.</p>
      <p>
        Explore the vast collection of characters, planets, starships, and more from the Star Wars
        universe.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-raised-button
        class="tw-bg-star-wars-yellow tw-text-imperial-black"
        routerLink="/characters"
        >View Characters</a
      >
    </mat-card-actions>
  </mat-card>
</div>
